.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1.6rem;
    z-index: 200;
    user-select: none;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: opacity .3s cubic-bezier(.95,.05,.795,.035),-webkit-transform .8s cubic-bezier(.19,1,.22,1);
    transition: opacity .3s cubic-bezier(.95,.05,.795,.035),-webkit-transform .8s cubic-bezier(.19,1,.22,1);
    transition: transform .8s cubic-bezier(.19,1,.22,1),opacity .3s cubic-bezier(.95,.05,.795,.035);
    transition: transform .8s cubic-bezier(.19,1,.22,1),opacity .3s cubic-bezier(.95,.05,.795,.035),-webkit-transform .8s cubic-bezier(.19,1,.22,1)
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-bottom: 1px solid #dceaf6;
    opacity: 0;
    -webkit-transition: opacity .6s cubic-bezier(.19,1,.22,1);
    transition: opacity .6s cubic-bezier(.19,1,.22,1);
}

.header.is-min {
    background: #fff;
    -webkit-transform: translate3d(0,-35px,0);
    transform: translate3d(0,-35px,0)
}

.header.is-min:before {
    opacity: 1;
}

.header-logo {
    width: 60px;
}

.header-logo img {
    width: 100%
}

.header span {
    height: 1.1rem;
}
@media only screen and (min-width: 1024px) {
    .header {
        padding: 1.9rem 3.8rem .2rem;
    }

    .header.is-min {
        -webkit-transform: translate3d(0,-35px,0);
        transform: translate3d(0,-35px,0)
    }

     .header-logo img {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@media only screen and (max-width: 768px) {
     .header-logo img {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@media only screen and (max-width: 414px) {
    .header {
        padding: .5rem;
    }

    .col-xs-2 {
        flex-basis: auto;
        max-width: 30%
    }
}

.page-view .main-after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
    background: rgba(0,0,0,.3);
    z-index: 300;
    -webkit-transition: opacity 1.5s ease-out .1s,visibility 1.5s ease-out .1s;
    transition: opacity 1.5s ease-out .1s,visibility 1.5s ease-out .1s;
    opacity: 0;
    visibility: hidden;
}

.page-home-fixed {
    position: fixed;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.page-home-fixed a {
    margin: 20px;
}

.page-home .grid-item {
    margin: 5rem 0;
    width: 50%
}

.page-home .grid-item .item-content {
    padding: 1.4rem 3.6rem;
}

.page-home .grid-item .item-content h2 {
	/*color: transparent;
	-webkit-text-stroke: 1px #7099b4;
    font-size: .9rem*/
    color: #1f1f22
}

.page-home .grid-item .item-content p {
    margin: .8rem 0
}

.vertical-align-item {
    text-align: center;
}

.mail.icon {
    color: #000;
    position: absolute;
    top: .8rem;
    right: 1rem;
    width: 1.5rem;
    height: 1rem;
    border-radius: .1rem;
    border: solid .1rem #dceaf6;
    opacity: 0;
    transform: rotate(180deg);
}

.mail.icon:before {
    content: '';
    position: absolute;
    left: .7rem;
    top: -.4rem;
    width: .1rem;
    height: 1rem;
    background-color: #dceaf6;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(-54deg);
            transform: rotate(-54deg);
}

.mail.icon:after {
    content: '';
    position: absolute;
    left: .6rem;
    top: -.4rem;
    width: .1rem;
    height: 1rem;
    background-color: #dceaf6;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(54deg);
            transform: rotate(54deg);
}

.article-card:hover .mail.icon {
    opacity: 1;
    transform: rotate(360deg);
    transition: transform .8s cubic-bezier(.19,1,.22,1),-webkit-transform .8s cubic-bezier(.19,1,.22,1)
}

/* ==================================  aside  */

.aside {
    position: fixed;
    background: #fff;
    cursor: initial;
    padding: 0 1.68067rem;
     width: 100vw;
    height: 100vh; 
    opacity: 0;
    -webkit-transition: -webkit-transform 1.2s cubic-bezier(.19,1,.22,1);
    transition: -webkit-transform 1.2s cubic-bezier(.19,1,.22,1);
    transition: transform 1.2s cubic-bezier(.19,1,.22,1);
    transition: transform 1.2s cubic-bezier(.19,1,.22,1),-webkit-transform 1.2s cubic-bezier(.19,1,.22,1);
    overflow-x: hidden;
}

.grid-3.grid-item {
    position: absolute;
    left: 0;
    top: 160vh;
    width: 49vw;
    height: 40vw;
}
.grid-3 .intrinsic-item {
    position: relative;
    width: 40vw;
    height: 36vw;
    margin-left: 6vw;
    background-image: url(../img/nudes/shadow1.jpg);
    background-repeat: no-repeat;
    background-size: 40vw auto;
}

.grid-4.grid-item {
    position: absolute;
    left: 54vw;
    top: 160vh;
    width: 40vw;
    height: 30vw;
}
.grid-4 .intrinsic-item {
    position: relative;
    width: 36vw;
    height: 30vw;
    margin-left: 6vw;
    background-image: url(../img/nudes/jingan.jpg);
    background-repeat: no-repeat;
    background-size: 36vw auto;
}