
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: middle
}

html, body {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "brandon-grotesque", "Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

/*h1 {
	color: transparent;
	-webkit-text-stroke: 1px #d81e06;
}*/

.header-logo{
	display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    -webkit-transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);
    transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);
    transition: transform .8s cubic-bezier(.19,1,.22,1);
    transition: transform .8s cubic-bezier(.19,1,.22,1),-webkit-transform .8s cubic-bezier(.19,1,.22,1)
}

.underline-link {
    position: relative;
    display: inline-block;
    padding-bottom: .2rem;
    overflow: hidden;
	letter-spacing: .1rem
}


.underline-link::before, .underline-link::after {
	content: "";
	position: absolute;
	bottom: .06rem;
	right: 0;
	width: 0;
	height: .1rem;
	transition: all .3s cubic-bezier(.18, .1, .22, 1);
	background-color: #1f1f22;
}

.underline-link:hover::after {
	left: 0;
	width: 100%;
	z-index: -1;
}

/* =========================================== slide-control  */

.slide-ctrl {
	position: fixed ;
	width: 2.2rem;
	height: 1rem;
    top: calc(50% - 10px);
	padding: 1rem 0;
    cursor: pointer
}

.slide-ctrl span {
	position: absolute;
	width: 0;
	right: 0;
	top: calc(50% - .4rem);
    font-size: .7rem;
	text-align: center;
    overflow: hidden;
	transform: translateX(100%);
    opacity: .5
}

.slide-ctrl::before {
	content: "";
	position: absolute;
	height: 1px;
	width: 70%;
    left: 0;
    top: 50%;
    background-color: #1f1f22;
}

.slide-ctrl::after {
	content: "";
	position: absolute;
	width: .5rem;
    height: .5rem;
    top: calc(50% - .25rem);
	right: .1rem;
    background-color: #000;
    transform: rotate(45deg);
}

.slide-prev {
	left: 3.6rem;
}

.slide-next {
	right: 3.6rem;
}

.slide-ctrl:hover::after {
	right: calc(100% - 12px);
	transform: rotate(-180deg)
}

 .slide-ctrl:hover::before {
	 left: 30%
 }
.slide-ctrl:hover span {
	width: 100%
}

.slide-next span, .slide-next::after, .slide-next::before,
.slide-ctrl span, .slide-ctrl::after, .slide-ctrl::before,
.slide-next:hover span, .slide-next:hover::after, .slide-next:hover::before,
.slide-ctrl:hover span, .slide-ctrl:hover::after, .slide-ctrl:hover::before {
	transition: all .4s cubic-bezier(.07,.57,.09,.9);
}

.slide-next::after {
	left: .1rem;
}

.slide-next::before {
	left: 30%;
}

.slide-next:hover::before {
	left: 0
}

.slide-next:hover::after {
	left: calc(100% - 12px);
	transform: rotate(270deg)
}

.slide-next span {
	left: 0;
	transform: translateX(-100%)
}

.button {
	position: relative;
	display: inline-block;
	background: 0 0;
	text-align: center;
	padding: .65rem 1.8rem .6rem;
	line-height: 1;
	border: 0;
}

.button::before, .button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid #1f1f22;
	border-color: #7099b4;
	-webkit-transition: background .4s cubic-bezier(.19, 1, .22, 1), border .3s cubic-bezier(.19, 1, .22, 1);
	transition: background .4s cubic-bezier(.19,1,.22,1),border .3s cubic-bezier(.19,1,.22,1),-webkit-transform .3s cubic-bezier(.19,1,.22,1);
}

.button::before {
	top: 1px;
	left: 1px;
	margin: 3px 0 0 3px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	z-index: 1;
}

@media only screen and (min-width: 768px) {
	.button::before {
		margin: 2px 0 0 2px;
	}
}

.button::after {
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 2;
}

.button>span {
	position: relative;
    min-width: 71px;
	display: inline-block;
	font-size: .8rem;
	line-height: 1;
	color: #1f1f22;
	z-index: 3;
	text-transform: lowercase;
	-webkit-transition: -webkit-transform .3s cubic-bezier(.19, 1, .22, 1);
	transition: transform .3s cubic-bezier(.19, 1, .22, 1);
}

.button-full {
	width: calc(100% - 6px);
}

.button.no-3d {
	padding: 0;
	display: block;
}

.button-green:after, .buttom:before {
	border-color: #8bd592
}

.button:hover::before {
	background: #e5e5e5
}

.button:hover::after,
.button:hover span,
.button:active::after,
.button:active span {
    -webkit-transform: translate3d(-2px,-2px,0);
    transform: translate3d(-2px,-2px,0)
}


/*======================================== INTRINSIC */

.article-block .intrinsic {
    -webkit-transition: .9s -webkit-transform cubic-bezier(.19,1,.22,1);
    transition: .9s -webkit-transform cubic-bezier(.19,1,.22,1);
    transition: .9s transform cubic-bezier(.19,1,.22,1);
    transition: .9s transform cubic-bezier(.19,1,.22,1),.9s -webkit-transform cubic-bezier(.19,1,.22,1)
}

.article-block .intrinsic:hover {
    -webkit-transform: scale(.97);
    transform: scale(.97)
}

.article-block .intrinsic a {
    padding: inherit;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

html.no-touchevents .article-block .intrinsic a:hover .intrinsic__item {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.article-block .intrinsic__item {
    -webkit-transition: .9s -webkit-transform cubic-bezier(.19,1,.22,1);
    transition: .9s -webkit-transform cubic-bezier(.19,1,.22,1);
    transition: .9s transform cubic-bezier(.19,1,.22,1);
    transition: .9s transform cubic-bezier(.19,1,.22,1),.9s -webkit-transform cubic-bezier(.19,1,.22,1)
}


/*============================================== btn-closed */

.button-close {
	visibility: visible;
	position: fixed;
	width: 33px;
	height: 33px;
	left: 50%;
	bottom: 40px;
	background: #000;
	transform: translateX(-50%) rotate(45deg);
	cursor: pointer;
	opacity: 1;
}

.button-close:hover .first-line, .button-close:hover .second-line {
	transform: translateX(-50%) translateY(-50%) rotate(0);
}

.close-item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: center;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.close-item.first-square {
	width: 20px;
	height: 20px;
	overflow: hidden
}

.close-item.second-square {
	width: 3px;
	height: 3px;
	background: #fff;
}

.close-line {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	height: 100%;
	background: #666;
	transition: all .3s cubic-bezier(.19, 1, .22, 1)
}

.close-line.first-line {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.close-line.second-line {
	transform: translate(-50%, -50%) rotate(-45deg)
}


/* ============================================flex-box */

.row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.between-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header span {
    font-family: Walsheim;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: opacity .4s cubic-bezier(.19,1,.22,1);
    transition: opacity .4s cubic-bezier(.19,1,.22,1);
    position: relative;
}

@media only screen and (min-width: 1024px) {
    .row.reverse--not-m {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
}

.col.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-offset-0,.col-xs-offset-1,.col-xs-offset-10,.col-xs-offset-11,.col-xs-offset-12,.col-xs-offset-2,.col-xs-offset-3,.col-xs-offset-4,.col-xs-offset-5,.col-xs-offset-6,.col-xs-offset-7,.col-xs-offset-8,.col-xs-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.col-xs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}

.col-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%
}

.col-xs-2 {
    -ms-flex-preferred-size: 16.666%;
    flex-basis: 16.666%;
    max-width: 16.666%
}

.col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
}

.col-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%
}

.col-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%
}

.col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

.col-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%
}

.col-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%
}

.col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.col-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%
}

.col-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%
}

.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
}
.col-xs-offset-0 {
    margin-left: 0
}

.col-xs-offset-1 {
    margin-left: 8.333%
}

.col-xs-offset-2 {
    margin-left: 16.666%;
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.333%
}

.col-xs-offset-5 {
    margin-left: 41.667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.333%
}

.col-xs-offset-8 {
    margin-left: 66.667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.333%
}

.col-xs-offset-11 {
    margin-left: 91.667%
}

.start-xs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start
}

.center-xs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.end-xs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end
}

.top-xs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start
}

.middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}

.bottom-xs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end
}
